@{
    ViewBag.Title = "demo_11_1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>demo_11_1</h2>

<div id="app">
  <div class="container">
    <h1>Let's hear some stories!</h1>
    <ul class="list-group">
    <story v-for="story in stories" :story="story">
    </story>
  </ul>
     <pre>{{ $data }}</pre>
  </div>
</div>
  <template id="template-story-raw">
      <li class="list-group-item">
       {{ story.writer }} said "{{ story.plot }}"
      <span>{{story.upvotes}}</span>
     </li>
  </template>

@*<script src="/Content/Script/demo_11_1.js" type="text/javascript"></script>*@

<script>
    var apiUrl = "http://" + location.host + "/Vue/";

    Vue.component('story', {
        template: "#template-story-raw",
        props: ['story']
    });

     new Vue({
        el: '#app',
        data: {
            stories: []
        },
        mounted: function () {
            //  $.get('/Vue/GetStoriesList', function(result){
            //  vm.stories = result.Data;
            //  })
            var vm = this;
            $.ajax({
                type: 'post',
                url: apiUrl + "GetStoriesList",
                data:{},
                dataType: 'json',
                beforeSend: function () { },
                success: function (result, textStatus, jqXHR) {
                    console.log(result);

                    var getData = result.Data;

                    if (result.Success) {
                        //  vm.stories = result.Data.StoriesList;
                    } else {
                        // vm.errorMsg = result.Data.ErrMsg;
                    }
                },
                error: function () {

                },
                complete: function () { }
            })
        }
    })
</script>
